@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
==========================================================
HEADER
==========================================================
*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    border-bottom: 1px solid #BDC3CA;

    z-index: 5;
}
header, footer a {
    text-decoration: none;
}
.header_logo .top {
    position: fixed;
    top: 13px;
    left: 110px;

    transition: linear .3s;
    display: block;
    height: 167px;
    width: 171px;
}
.header_logo .top_scroll {
    position: fixed;
    top: 13px;
    left: 110px;

    transition: linear .3s;
    display: block;
    height: 55px;
    width: 57px;
}
.header_logo2 .top_scroll {
    display: none;
    position: fixed;
    top: 13px;
    transition: linear .3s;
    height: 55px;
    width: 57px;
}
.header_nav {
    display: flex;
    justify-content: space-between;

    /*top: 50%;
    transform: translateY(-50%);*/
}
.header_nav a {
    display: inline-block;
    vertical-align: top;
    height: 17px;
    /*left: 28.47%;
    right: 62.99%;
    top: calc(50% - 17px/2 - 2959.39px);*/
    margin-right: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height */

    letter-spacing: -0.541667px;

    color: #576078;
}
.header-call {
    display: block;
    width: 165px;
    height: 40px; 
    border-radius: 4px;
    background-color: #4043FF;
    align-items: center;
}
.header-call a {
    color: #FFFFFF;
    display: block;
    transform: translateY(60%);
    text-decoration: none;

}

/*
==========================================================
INTRO SECTION
==========================================================
*/
section.first {
    display: flex;
    justify-content:start;
    overflow: hidden;
}
section.first .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/

    position: relative;
    top: -10px;
    left: 70px;
    width: 50%;
    height: 100vh;
    font-weight: 700;
    font-family:'Philosopher';

    margin-left: 40px;
}
.span1 {
    font-size: 64px;
}
.span2 {
    font-size: 32px;
}
.buttons_intro {
    position: relative;
    top: 8%;
}
.request {
    width: 170px;
    height: 60px;
    background-color: #4043FF;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.25px;
    color: #fff;

    border: none;

    margin-right: 30px;
}
.download {
    width: 247px;
    height: 60px;

    border: 2px solid #BDC3CA;
    box-sizing: border-box;
    border-radius: 4px;

    background-color: transparent;
}

.intro_pics {
    display: block;
    width: 50vw;
    height: auto;
    
}
.blue_romb {
    display: block;
    position: relative;
    top: -35vh;
    left: -40px;
    width: 70vw;
    height: 75vh;

    background: #20399B;
    box-shadow: inset 0px 10px 40px rgba(9, 14, 24, 0.4);
    border-radius: 25px;
    transform: rotate(-45deg);

    overflow: hidden;
}
.laptop {
    height: 50vh;
    /*height: 300px;
    width: 670px;*/
}
.wave {
    display: block;
    position: relative;
    top: 30%;
    left: -40%;
    transform: rotate(190deg);
}
.multitach {
    position: absolute;
    top: 20vh;
    /*left: 45vw;*/
    right: 35vw;
    z-index: 3;
}
.multitach_laptop {
    /*height: 550px;
    width: 343px;*/
    height: 80vh;

}

/*
==========================================================
TRANPARRENT TOP CIRCLES
==========================================================
*/
.circles {
    position: absolute;
    top: 45px;
    right: 15vw;

    display: flex;
    justify-content: start;
}
.circles_column {
    margin-right: 20px;
}
.circle_transparrent {
    margin-top: 20px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 15px;

    background-color: rgba(255, 255, 255, 0.267);
}

/*
==========================================================
SECOND ORANGE SECTION
==========================================================
*/
section.second {
    position: relative;
    top: -10vh;
    display: block;
    background-color: #EB8E2A;

    padding-top: 170px;
    padding-bottom: 320px;
}

.span3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 5px;

    color: #4043FF;
}
.span4 {
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.5px;

    color: #FFFFFF;
}
.advantures {
    display: flex;
    justify-content: center;

    position: relative;
    top: 63px;
}
.adv {
    margin-right: 120px;
}
.adv:nth-of-type(4) {
    margin-right: 0;
}
.adv img {
    display: block;
    width: 69px;
    height: 69px;

    margin-top: 34px;
    margin-bottom: 59px;
}
.adv .header_adv {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.333333px;

    color: #FFFFFF;
}
.adv .footer_adv {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    text-align: center;
    letter-spacing: -0.444444px;

    color: #000000;
}

/*
==========================================================
FORM IN BLACK BOX
==========================================================
*/
.black_box {
    background-color: #090E18;
    margin-left: auto;
    margin-right: auto;
    
    width: 70vw;
    height: 293px;
    overflow: hidden;
    border-radius: 8px;

    position: absolute;
    top: 1320px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}
.black_box_inner {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 100%;
}
.text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.5px;

    color: #FFFFFF;

    position: relative;
    top: 34%;
    left: 5%;

}
form.presentation {
    display: block;
    width: 60%;
    z-index: 2;
    position: relative;
    left: 5%;
    top: 37%;
}
form.presentation .email{

    height: 60px;
    width: 45%;
    background: #f4f6f825;
    mix-blend-mode: normal;
    border: none;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;

    margin-right: 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;


    color: #BDC3CA;
}
form.presentation input::placeholder { 
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: -0.25px;

    color: #BDC3CA;
}
form.presentation .submit {
    background-color: #4043FF;
    color: #fff;
    border: none;
    width: 170px;
    height: 60px;
    border-radius: 4px;

}
.black_box img {
    position: relative;
    top: -140%;
    left: -3%;
    display: block;
    width: 973px;
    height: 436px;
    transform: rotate(153deg) scale(0.9);
}



/*
==========================================================
BLACK BOX TRANPARRENT, BLUE SERCLES
==========================================================
*/

.black_box_circles {
    position: absolute;
    top: 1270px;
    left: 10%;
    display: flex;
    justify-content: start;
}
.black_box_circles2 {
    position: absolute;
    top: 1500px;
    right: 11%;
    display: flex;
    justify-content: start;
    z-index: 2;

}
.circle_blue {
    margin-top: 20px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #4043FF;
}

/*
==========================================================
THIRD
==========================================================
*/

section.third {
    position: relative;
    top: -10vh;
    background-color: #E4E7EA;

    padding-top: 240px;
    padding-bottom: 112px;
}
.span5 {
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.5px;

    color: #090E18;
}
.benefit-cards {
    margin-top: 65px;
}
.benefit_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 320px;
    width: 495px;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 20px 60px rgba(9, 14, 24, 0.1);

    align-items: center;

}
.benefit_card:nth-of-type(1) {
    margin-right: 45px;
}
.benefit_card img {
    display: block;
    width: 77px;
    height: 77px;

    margin-bottom: 40px;
}
.benefit_card .description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.5px;

    color: #000000;

    padding: 0 20px;
}
.row {
    display: flex;
    justify-content: center;
}
.row:nth-of-type(1) {
    margin-bottom: 39px;
}
.forth {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.5px;
}
.forth_inner {
    position: relative;
    top: 44px;
    /*overflow: hidden;*/
}
.forth_inner img {
    display: block;
    height: 234px;
    width: 923px;

    
}
.up_row {
    display: block;
    width: 923px;
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}
.forth_inner .up_row p:nth-of-type(2)  {
    margin-top: 15px;
}
.forth_inner .up_row p:nth-of-type(3)  {
    margin-top: 65px;
}
.forth_inner .down_row {
    width: 923px;
    display: flex;
    justify-content: center;

    position: relative;
    top: 40px;
}
.down_row p:nth-of-type(1) {
    
    margin-right: 16%;
}
.forth_pics_row {
    display: flex;
    justify-content: center;

    position: relative;
    top: 177px;
}
.forth_pics_row .rect {
    display: block;
    width: 562px;
    height: 388px;

    background: #C4C4C4;
}
.forth_pics_row .rect:nth-of-type(1) {
    margin-right: 57px;
}
/*
==========================================================
FIFTH
==========================================================
*/
.fifth {
    margin-top: 300px;

    position: relative;
    /*overflow: hidden;*/
}
.cards {
    display: flex;
    justify-content: center;

    font-family: 'Montserrat';
    margin-top: 60px;
    width: 100%;
    overflow: hidden;
}

.card {
    display: block;
    width: 370px;
    height: 491px;
    margin-right: 30px;
    background-color: #E4E7EA;
    border-radius: 8px;
    transition: .2s linear;
}
.card:nth-of-type(3) {
    margin-right: 0;
}
.card_header {
    display: block;
    width: 370px;
    height: 110px;
    background-color: #b9babd;
    border-radius: 8px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    letter-spacing: -0.5px;

    color: #090E18;

    padding-left: 30px;
    padding-top: 33px;

    box-sizing: border-box;
}
.harakteristiki {
    padding-top: 38px;
    padding-left: 30px;

    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: -0.5px;

    color: #090E18;
}
.card_inner {
    display: flex;
    justify-content: space-between;
}
.card:nth-of-type(1) img {
    display: block;
    width: 271px;
    height: 358px;

    position: relative;
    left: -50px;
    top: -70px;
}
.card:nth-of-type(2) img {
    display: block;
    width: 271px;
    height: 373px;

    position: relative;
    left: -30px;
    top: -70px;
}
.card:nth-of-type(3) img {
    display: block;
    height: 389px;

    position: relative;
    left: -10px;
    top: -80px;
}
.card .ul {
    display: block;
    padding-top: 23px;
    padding-left: 30px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.541667px;

    color: #576078;
}
ul {
    margin-left: 15px;
}
.card ul li {
    margin-bottom: 10px;
    /*background: url("c111.png") no-repeat;*/
    padding-left: 10px;
    /*background-size: 16px 16px;*/
}
.card button {
    position: relative;
    top: 40px;
   
    background: #FFFFFF;
    border-radius: 4px;

    width: 117px;
    height: 43px;

    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.25px;

    color: #090E18;
}

.card:hover {
    background-color: #EB8E2A;

    transform: translate(-3%, -3%);
}
.card:hover .card_header {
    background-color: #cf7310;
    color: #fff;

}
/*.card:hover ul li {
    
    background: url("c222.png") no-repeat;
    margin-bottom: 10px;
    padding-left: 30px;
    background-size: 16px 16px;
}*/
.card ul li::marker {
    font-family:  "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f058';
    padding-left: 10px;
    margin-bottom: 10px;
    color: #EB8E2A;

}
.card:hover ul li::marker {
    color: #fff;

}
.card:hover .ul {
    color: #fff;
}
.card:hover .harakteristiki {
    color: #fff;
}
.card_circles {
    display: none;
}
.card:hover .card_circles {
    position: absolute;
    top: 30px;
    right: 370px;

    display: flex;
    justify-content: start;
    z-index: 1000;
}
.cards_slider_numbers {
    display: none;
}
.circle {
    margin-top: 20px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 15px;

    background-color: #EB8E2A;
}
.black_box_wrapper .black_box {
    top: 0;
    margin-top: 100px;
    
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    z-index: 3;
}
.black_box .bottom_black_box {
    position: relative;
    top: -90%;
    left: 40%;
    display: block;
    width: 973px;
    height: 436px;
    transform: rotate(150deg) scale(0.9);
}
.black_box_circles3 {
    display: flex;
    justify-content: start;
    z-index: 2;
    position: relative;
    box-sizing: content-box;
    width: 160px;
    margin: 0;
    left: 77vw;
    top: -80px;
}
.circle_orange {
    margin-top: 20px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #EB8E2A;
}

.wrap {
    position: relative;
}
.footer_cover {
    display: block;
    width: 100%;
    height: 65vh;
    position: absolute;
    bottom: -235px;
    left: 0;
    background: #F4F6F8;
}
footer {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 80px;

}
.footer_logo {
    width: 159px;
    height: 155px;
}
.social_media {
    display: flex;
    justify-content: space-between;

    width: 100px;
}
.social_media .fa-facebook {
    color: #BDC3CA;
    font-size: 20px;
}
.social_media .fa-youtube, .fa-twitter, .fa-instagram {
    color: #fff;
    border-radius: 50%;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 3px;

}
.social_media .social_wrapper {
    background-color: #BDC3CA;
    display: block;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    text-align: center;
    align-items: center;
}
.burger-menu {
    display: none;
}
.forth_inner_mobile {
    display: none;
}
/*Burger menu*/
.burger-menu {
    opacity: 1;
  }
  .burger-menu__button {
    position: fixed;
    top: -2px;
    right: 15px;
    z-index: 1500;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    transition: 0.4s;
  }
  .burger-menu__button:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.8);
  }
  .burger-menu__lines,
  .burger-menu__lines::after,
  .burger-menu__lines::before {
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #424242
    ;
  }
  .burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu__lines::before {
    content: "";
    top: -12px;
  }
  .burger-menu__lines::after {
    content: "";
    top: 12px;
  }
  .burger-menu_active .burger-menu__button,
  .burger-menu_active .burger-menu__lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  /* BM NAV*/
  .burger-menu__nav {
    padding-top: 100px;
    position: fixed;
    z-index: 1400;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #eeeeee;
    overflow-y: auto;
    right: -100%;
    transition: 0.5s;
    top: 0;
  }
  
  .burger-menu_active .burger-menu__nav {
    right: 0;
  }
  
  .burger-menu__link {
    padding: 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height */

    letter-spacing: -0.541667px;

    color: #576078;
  }
  
  .burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1300;
  }
  .burger-menu_active .burger-menu__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }


@media(max-width: 1350px) {
    .span1 {
        font-size: 54px;
    }
    .span2 {
        font-size: 24px;
    }
}
@media(max-width: 1260px) {
    .span1 {
        font-size: 54px;
    }
    .span2 {
        font-size: 24px;
    }
    .cards {
        justify-content: space-around;
    }
}
@media(max-width: 1179px) {
    .span1 {
        font-size: 48px;
    }
    .span2 {
        font-size: 20px;
    }
    .cards {
        justify-content: space-around;

        transform: scale(.9);
    }
}
@media(max-width: 768px) {
    .burger-menu {
        display: block;
    }
    .span1 {
        font-size: 52px;
    }
    .span2 {
        font-size: 30px;
    }
    .cards {
        justify-content: space-around;

        transform: scale(.9);
    }
    header .header_nav {
        display: none;
    }

    .header_logo2 .top_scroll {
        display: block;
    }
    .header_logo {
        display: none;
    }

    .blue_romb {
        display: block;
        position: relative;
        top: -45vh;
        left: -50vh;
        width: 350vw;
        height: 100vh;
        background: #20399B;
        box-shadow: inset 0px 10px 40px rgb(9 14 24 / 40%);
        border-radius: 25px;
        transform: rotate(150deg);
        overflow: visible;

        z-index: 1;

    }
    section.first {
        overflow: visible;
        overflow-y: hidden;
    }
    section.first .intro {
        display: block;
        z-index: 3;
        color: #fff;
        left: 0;

        top: 110px;
        margin-left: 30px;
    }
    .download {
        color: #fff;
        width: 170px;
        margin-top: 18px;
    }

    .adv {
        margin-right: 0px;
        margin-left: 10px;

        transform: scale(.9);
    }
    .advantures {
        display: flex;
        flex-wrap: wrap;

    }
    .multitach_laptop {
        height: 55vh;
    }
    .multitach {
        position: absolute;
        top: 37vh;
        right: 10px;
        z-index: 3;
    }

    section.second {
        top: -55vh;
        z-index: 0;
        padding-top: 420px;
        padding-bottom: 170px;
        text-align:center;
        width: 100%;
    }
    .sec_header p:nth-of-type(1) {
        display: block;
        width: 170px;

        text-align: center;
    }
    .wave {
        display: block;
        position: absolute;
        top: -5%;
        left: 50%;
        transform: rotate(7deg);
    }
    .laptop {
        height: 110vw;
        /*height: 300px;
        width: 670px;*/
    }

    .black_box {
        width: 100%;
        top: 1550px;

        margin-top: 50px;

        padding-bottom: 40px;
        /*position: relative;*/
        z-index: 3;
    }
    .black_box_inner {
        display: block;
    }
    .black_box .text {
        top: 14%;
        left: 21%;
        text-align: left;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.5px;
    }
    .black_box .presentation {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 60px;

        width: 100%;
    }
    form.presentation .email {
        width: 276px;
        margin-right: 0;
    }
    form.presentation .submit {
        margin-top: 10px;

    }
    .black_box_circles {
        top: 1470px;;
        left: -30px;
    }
    .black_box_circles .circle_transparrent {
        background-color: #EB8E2A;
    }
    .black_box_circles2 {
        top: 1840px;
        right: 0;
    }
    .black_box_circles2 .circles_column:nth-of-type(4) {
        display: none;
    }
    .black_box_circles2 .circles_column:nth-of-type(3) {
        margin-right: 5px;
    }
    section.third {
        z-index: 0;
        padding-top: 100px;
    }
    .span5 {
        width: 70vw;
        display: block;
    }
    .row:nth-of-type(1){
        display: block;
        margin-bottom: 10px;
    }
    .row:nth-of-type(2){
        display: block;
    }
    .benefit_card {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 0;
    }
    .forth {
        overflow: hidden;
        height: auto;
    }
    .forth_inner {
        top: 100px;
    }
    .forth_pics_row {
        display: block;
        top: 0;
        margin-top: 60px;
    }
    .forth_pics_row .rect {
        height: 267px;
        margin-bottom: 32px;
    }
    .forth_pics_row .rect:nth-of-type(1) {
        margin-right: 0;
    }
    .fifth {
        margin-top: 70px;
        margin-bottom: 100px;
    }
    
    /*.black_box_wrapper:nth-of-type(2) {
        width: 100%;
        overflow: hidden;
    }*/
    .black_box_wrapper {
        width: 100%;
        overflow: hidden;
    }
    .black_box_circles3 {
        left: 60vw;
        top: 0px;
    }
    .black_box_circles3 .circles_column .circle_orange:nth-of-type(3), .circle_orange:nth-of-type(4){
        display: none;
    }
    footer {
        flex-wrap: wrap;
    }
    .footer_logo {
        transform: translate(-20%, -10%) scale(.8);
    }
    footer .header_nav {
        flex-direction: column;
        transform: translate(10%, 0);
    }
    footer .header_nav a {
        margin-bottom: 30px;
        line-height: 120%;
    }
    .social_media {
        margin-top: 30px;
    }
    .forth_inner {
        display: none;
    }
    .forth_inner_mobile {
        display: block;
    }
    .line {
        display: flex;
        justify-content: start;
        /*transform: translate(-10px, 0);*/
        margin-top: 50px;
        margin-bottom: 50px;
        transition: .3s;
    }
    .up {
        margin-top: 40px;
    }
    .line .visible {
        width: 100%;
        transition: .3s linear;
    }
    .next {
        width: 47%;
    }
    /*.next1, .next2, .next3 {
        position: relative;
        transform: translate(-1px, 0);
    }
    .next1 {
        z-index: 1;
    }
    .next1 {
        z-index: 2;
    }
    .next1 {
        z-index: 3;
    }*/
    /*.forth_inner_mobile .hidden {
        display: none;
    }
    .forth_inner_mobile .visible {
        display: block;
        position: relative;
        left: 0;
        top: 0;
    }
    .forth_inner_mobile .next {
        display: block;
        position: relative;
        left: 0;
        top: 0;
    }*/
    .cards {
        margin-top: 10px;
    }
    .card {
        background-color: #EB8E2A;
    
        border-radius: 8px;
        margin: 0;

        transition: .3s linear;
    }
    .card .card_header {
        background-color: #cf7310;
        color: #fff;
    
    }
    .card ul li {
        
        background: none;
        margin-bottom: 10px;
        padding-left: 10px;
        background-size: 16px 16px;
    }
    .card ul li::marker {
        font-family:  "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f058';
    }
    .card .ul {
        color: #fff;
        margin-left: 15px;
    }
    .card .harakteristiki {
        color: #fff;
    }
    /*.hid {
        display: none;
    }
    .vis {
        display: block;
    }*/
    .hid {
        transform:translate(1000px,0);
    }
    
    .vis0 {
        transform:translate(100%,0);
    }
    .vis1 {
        transform:translate(0,0);
    }
    .vis2 {
        transform:translate(-100%,0);
    }


    .cards_slider_numbers {
        display: flex;
        justify-content: center;

        width: 106px;
    }
    .card_number {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            letter-spacing: -0.5px;

        display: block;
        width: 24px;
        height: 24px;

        border-radius: 50%;
        background: #C4C4C4;
        text-align: center;

        padding-top: 1px;
        box-sizing: border-box;

        margin-right: 17px;
        margin-top: 37px;
    }
    .active {
        background: #EB8E2A;
        color: #fff;
    }
    .card_number:nth-of-type(3) {
        margin-right: 0;
    }
}
