body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    margin-bottom: 7px;
}
p {
    margin-bottom: 5px;
}
.tools {
    display: flex;
}
.tools div:not(.tool) {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
}
.tool {
    width: 70px;
    height: 70px;
    background-color: rgb(251, 251, 251);
    border-radius: 5px;
    border: solid 1px rgb(160, 217, 255);
}
.main {
    margin-bottom: 10px;
}
button {
    height: 30px;
    border-radius: 7px;
    border: 0;
}
button:hover {
    background: rgb(76, 82, 121);
    color: white;
    cursor: pointer;
}
.main div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.main div p {
    margin-bottom: 0;
}
input {
    background: rgba(255, 255, 255, 0.551);
    border: 1px;
    padding: 5px 10px;
    border-radius: 5px;
}
.content {
    position: relative;
    z-index: 2;
    padding: 20px 30px 30px 30px;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
}
.blur2 {
    position: absolute;
    background: rgba(255, 255, 255, 0.351);
    height: 510px;
    width: 400px;
    padding: 30px;
    backdrop-filter: blur(10px);
    z-index: 0;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    border-radius: 25px;
}
.blur {
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}