body
{
    font-family: 'PT Sans', sans-serif;
    margin: 0;

    background-image: url("body-back.JPG");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.prize-won-title {
    font-size: 2.5rem;
}
.win-window {
    margin-top: 20%;
}
.container{
    width: 1100px;
    height: 550px;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.315);
    transform: scale(90%);
}
.text-form-buttons {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-between;
}
.spin_button {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 60px;
    border: none;
    font-weight: 600;
    width: 48%;
    background: #5c85e6;
    border-radius: 4px;
    font-size: 20px;
}
.spin_button:hover {
    transform: scale(105%);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.644);
    cursor: pointer;
}
.oferta-wheel {
    color: #afafaf;
    outline: none;
    font-size: .8rem;

}
.wheel-a {
    color: rgb(255, 211, 175);
    outline: none;
}
.text-form {

    padding: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    width: 40%;
    background: linear-gradient(#1072ce, #1072ce, #002942);

}
.wheel-contaner {

    background-image: url("BACK2.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 60%;
    position: relative;
}
.text-form .input_1 {
    width: 350px;
    border: 1px solid #e9e9e9;
    height: 42px;
    background: #f8f8f8;
    border-radius: 4px;
    padding: 0 18px;
    color: #000;
    font-family: 'PT Sans',sans-serif;
    font-size: .9375rem;

    margin-top: 15px;
}
.text-form .oferta_wrapper {
    margin-top: 20px;
    font-size: 12px;

    display: flex;
    justify-content: start;
}
.oferta_wrapper label {
    padding-left: 10px;
    padding-top: 6%;
}


input[type="checkbox"] {
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #ececec;
    outline: none;
    border-radius: 10px;
    transition: .5s;
    box-shadow: inset -5px -5px 7px rgba(255,255,255,0.55), inset 5px 5px 7px rgba(70,70,70,0.12);
}
input:checked[type="checkbox"] {
    background:  rgb(255, 156, 110);
    box-shadow: inset -1px -1px 2px rgba(255,255,255,0.55), inset 5px 5px 7px rgba(70,70,70,0.12);

}
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: .5s;
    transform: scale(1.2);
    background: rgb(255, 255, 255);
    box-shadow: -1px -1px 2px rgba(255,255,255,0.55), 1px 1px 2px rgba(70,70,70,0.12);

}
input:checked[type="checkbox"]:before {
    left: 15px;
    box-shadow: 5px 5px 7px rgba(70,70,70,0.12);

}


.text-wheel {
    display: block;
    border-radius: 4px;
    padding: 28px 28px 20px 28px;
    box-sizing: border-box;
    margin-top: 20px;
    color: rgb(243, 243, 243);
}
.wheel_h2 {
    font-size: 28px;
    color: white;
    margin: 0;
    font-weight: bold;
}
.wheel_h3 {
    color: white;
    font-weight: 400;

    margin-bottom: 0;
}
.span1 {
    font-weight: 700;
    line-height: 0.9;
}
.span2 {
    margin-top: 6%;
    font-weight: 200;
    font-size: 20px;
}
.prizy {
    /*padding: 10px;
    border: 1px solid #007ac7;
    color: #383838;
    font-size: .9375rem;
    
    transition: 1s linear;*/
    margin-top: 10px;
    display: block;
    width: 85%;
    border: 1px solid #007ac7;
    border-radius: 4px;
    padding: 0 28px 20px 28px;
    box-sizing: border-box;
}
.prizy ol {
    margin-bottom: 0;
}
.prizy .won-priz {
    color: #383838;
    font-size: 25px;
    font-weight: 700;
}
.img_container {
    -webkit-box-pack: center;
    justify-content: center;

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 20;
}
.wheel_person_img {
    position: relative;
    bottom: -60px;
    left: -70px;
}
.wheel-inner {
    position: absolute;
    top: 50%;
    left: 40%;
    /*transform: translate(-50%, -50%);*/
    transform: translate(17%, -50%) rotate(-90deg);
    
}
.wheel {
    /*position: relative;
    top: 7%;
    right: 5%;*/

    position: absolute;
    top: 50%;
    left: 40%;
    width: 100%;
    height: 100%;
    /*transform: translate(-50%, -50%);*/
    transform: translate(0%, -50%);
    background-image: url("wheel_back.png");
    background-position: center;
    background-repeat: no-repeat;
}
#spin {
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 108px;
    height: 108px;
    background: url("center2.png");
    color: #fff;
    box-shadow: 0 0px 15px 5px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    /*border: 2px solid #fff;*/
    transition: 0.8s;

    top: 50%;
    left: 40%;
    /*transform: translate(-50%, -50%);*/
    transform: translate(220%, -50%) rotate(-90deg);;
    /*margin: -15%;
    top: 268px;
    left: 263px;*/
}

#spin::after {
    content: "";
    position: absolute;
    top: -15px;
    border: 18px solid transparent;
    border-bottom-color: #f0d561;
    border-top: none;
}
/* Sets the background image for the wheel */
td.the_wheel
{
    /*background-image: url("wheel_back.png");
    background-position: center;
    background-repeat: no-repeat;*/
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}
/*div.power_controls2
{
    margin-left:70px;
}*/

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
    /*color: #0845a1;
    color: #0c50b6  ;
    color: #0f5bce  ;
    color: #1867dd  ;
    color: #2575ee  ;
    color: #3887fd  ;
    color: #3887fd;
    color: #ff951b;
    color: #ff822f  ;
    color: #ff714d  ;
    color: #ff6b66  ;
    color: #ff7795  ;
    color: #ff89b6  ;
    color: #ff98d4;*/

    color: #374ece;
    color: #5296f0  ;
    color: #5266db  ;
    color: #5296f0  ;
    color: #373ace  ;
    color: #5a7ae2  ;
    color: #008af3;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}



